.CellAction{
    display: flex;
    gap: 10px;
  }
  
  .editIcon {
    cursor: pointer;
    color: green;
    background-color: rgb(173, 229, 173);
  }
  
  .viewIcon {
      cursor: pointer;
      color: blue;
      background-color: rgb(112, 146, 238);
  }
  
  .data-table{
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: 600;
  }
  
  
  
  